<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Jones Automotive Services, Petone</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <span class="navbar-brand">Jones Automotive Services, Petone</span>
    </nav>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Menu -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Items -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="images/25.jpg" alt="Slide 1" />
            </div>
            <div class="item">
                <img src="images/25.jpg" alt="Slide 2" />
            </div>
            <div class="item">
                <img src="images/25.jpg" alt="Slide 3" />
            </div>
        </div> 

        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 partition">
          <h2 class="featurette-heading">For all your mechanical repairs! <span class="subText">Jonesutomotive does it all.</span></h2>
          <p class="lead">From oil changes to cambelts, punctures to wheel alignments, full services to warrants of fitness, trucks to trailers, Jonesautomotive can do it. </p>
      </div>
      <div class="col-md-5 partition">
          <div id="map"></div>
          <script>
              function initMap() {
                var myLatLng = {lat: -41.2229943, lng: 174.87398310000003};

                var map = new google.maps.Map(document.getElementById('map'), {
                  center: myLatLng,
                  zoom: 15
              });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Jones Automotive'
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbp8qLq5y288_3yYfsxmeDcS8xONTsLfI&callback=initMap"
        async defer></script>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-6 partition">
        <input id="subject" type="text" class="form-control userInput" placeholder="Subject" />
        <textarea id="content" class="form-control userInput" rows="5" placeholder="Write your inquiry here."></textarea>
        <input id="name" type="text" class="form-control userInput" placeholder="Your Name">
        <input id="from" type="text" class="form-control userInput" placeholder="Your Email">
        <input id="number" type="text" class="form-control userInput" placeholder="Contact Number" />
        <button class="btn btn-default userInput" id="send_email">Send Email</button>
        <span id="message"></span>
    </div>
    <script>
        $(document).ready(function(){
            var from,subject,text,number;
            $("#send_email").click(function(){
                name=$("#name").val();  
                number=$("#number").val();    
                subject=$("#subject").val();
                text=$("#content").val();
                $("#message").text("Sending E-mail...Please wait");
                text = (text + "\nContact Number: " + number);
                subject = (subject + " - " + name);
                $.get("https://jonesautomotive.herokuapp.com//send",{to:'samualkholmes@gmail.com',subject:subject,text:text},function(data){
                    if(data=="sent")
                    {
                        $("#message").empty().html("Email has been sent. We will get back to you as soon as we can!");
                    }
                    else{
                        $("#message").empty().html("Sorry! There was a problem in sending your email please try again.");
                    }

                });
            });
        });
    </script>
    <div class="col-md-6 partition">

        <h1>Contact Information</h1>
        <h2><span class="subText">Address:</span> 15 Petone Avenue, Petone</h2>
        <h2><span class="subText">Phone:</span> (04) 568 3010</h2>
        <h2><span class="subText">Email:</span> jonesautomotive@xtra.co.nz</h2>
    </div>
</div>

<hr class="featurette-divider">

<p class="lead" style="padding: 16px; text-align: center;">Karl Holmes, the owner and operator of Jones Automotive Services has been in the business a long time. With 25 years and counting of experience with mechanical repairs you bet he has seen it, and fixed it all. Whether you need a quick puncture repair or an engine overhaul, come in and see the team at Jones Automotive, they will get you back on the road as quickly as possible. But don't take our word for it here are a few testimonials from our valued customers.</p>
<hr class="featurette-divider">
<h1 style="text-align: center;">Testimonials go here</h1>
</body>
</html>