<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jones Automotive provides all mechanical repairs and services from WoF work to full rebuilds, we can service any vehicle you may want serviced with over 40 years collective experience between team at Jones Auto, nothing is beyond our abilities.">
    <meta name="author" content="">
    <title>Jones Automotive Services, Petone</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Jones Automotive</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Testimonials</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Jones Automotive!</div>
                <div class="intro-heading">For All Mechanical Repairs and Services</div>
                <a href="#services" class="page-scroll btn btn-xl">What we do</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Jones Automotive offers all mechanical repairs no matter how <span style="font-size: 40px;">big</span>, or how <span style="font-size: 10px;">small.</span></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/servicing.png" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Servicing</h4>
                    <p class="text-muted">Let us help you get your vehicle up to scratch. We can ensure your car will run smoothly and efficiently for those long trips away. We will change your oil and oil filter and if your car needs them, we can also give your car new spark plugs, air-filter, brake pads, tyres and more!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/wof.png" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Warrant of Fitness</h4>
                    <p class="text-muted">If your car is in need of a new warrant Jones Autmotive has you covered. Jones Automotive is a LTSA authorised location for WoF's, ring up and book one in today for peace of mind.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/hoist.png" alt="">
                        </div>
                    </span>
                    <h4 class="service-heading">Wheel Alignment</h4>
                    <p class="text-muted">With our special guided hoist we can ensure all the wheels on your vehicle are straight to avoid any uneven wear or unwanted shaking or wobbles. No need to go to multiple workshops when we have all the tools on hand here!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Location Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                    <p class="text-muted">Located at 15 Petone Avenue, Jones Auto is a handy 5 minute walk from Petone train station.</p>
                </div>
            </div>
            <div class="row">
                <div id="map" style="width: "></div>
                <script>
                  function initMap() {
                    var myLatLng = {lat: -41.2229943, lng: 174.87398310000003};

                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: myLatLng,
                      zoom: 15
                  });

                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Jones Automotive'
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbp8qLq5y288_3yYfsxmeDcS8xONTsLfI&callback=initMap"
            async defer></script>

        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <h3 class="section-subheading text-muted">Don't listen to us, hear it from a few of our many satisfied customers!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/car_1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Geoff</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Karl and his team are the best. I have been taking my vehicles to Jones Auto for over 10 years and always have had great service. I would highly recommend Jones to anybody else. He is close to Petone Station so leave your vehicle there and pick it up after work.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/car_2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Tori</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Highly recommend Jones Automotive. Honest, reliable and great service. Wouldn't take my car anywhere else!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/car_3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Johnathan</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Friendly, dependable, honest.  I bring both my cars to be serviced there.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/car_4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Tim</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">It's the only place I trust to take my car for any WOF or mechanical repairs.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Meet the people looking after your vehicles.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/logo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Karl Holmes</h4>
                    <p class="text-muted">Owner / Operator</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/logo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Joel Gibbons</h4>
                    <p class="text-muted">Mechanic</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="images/logo.jpg" class="img-responsive img-circle" alt="">
                    <h4>Samual Holmes</h4>
                    <p class="text-muted">Mechanic / Web Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Meet the crew in charge of looking after your vehicle. Between us we can provide you with the highest quality service out there and can get your car back running on the road in no time. Contact us at any time for a no obligation quote or to book in! We are normally booked out a day or two in advance so get in early to get your wanted time slot!</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Send us an email and we'll get back to you as soon as we can.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-lg-12 partition">
                            <input id="subject" type="text" class="form-control userInput" placeholder="Subject" />
                            <textarea id="content" class="form-control userInput" rows="5" placeholder="Write your inquiry here."></textarea>
                            <input id="name" type="text" class="form-control userInput" placeholder="Your Name">
                            <input id="from" type="text" class="form-control userInput" placeholder="Your Email">
                            <input id="number" type="text" class="form-control userInput" placeholder="Contact Number" />
                            <button class="btn btn-default userInput" id="send_email">Send Email</button>
                            <span id="message"></span>
                        </div>
                        <script>
                            $(document).ready(function(){
                                var email,subject,text,number;
                                $("#send_email").click(function(){
                                    name=$("#name").val();  
                                    number=$("#number").val();    
                                    subject=$("#subject").val();
                                    text=$("#content").val();
                                    email=$("#from").val();
                                    $("#message").text("Sending E-mail...Please wait");
                                    text = (text + "\n\nContact Email: " + email);
                                    text = (text + "\nContact Number: " + number);
                                    subject = (subject + " - " + name);
                                    $.get("https://jonesautomotive.herokuapp.com/send",{to:'samualkholmes@gmail.com',subject:subject,text:text},function(data){
                                        if(data=="sent")
                                        {
                                            $("#message").empty().html("Email has been sent. We will get back to you as soon as we can!");
                                        }
                                        else{
                                            $("#message").empty().html("Sorry! There was a problem in sending your email please try again.");
                                        }
                                    });
                                });
                            });
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; Jones Automotive Ltd. 2017</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <span class="copyright">Developed by Samual Holmes with Bootstrap</span>
                        <li title="LinkedIn"><a href="https://www.linkedin.com/in/samual-holmes-720a2713a" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <li title="GitHub"><a href="https://github.com/SKHolmes" target="_blank"><i class="fa fa-github"></i></a>
                                <li title="CV"><a href="skholmes.github.io" target="_blank"><i class="fa fa-address-card"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- jQuery -->
            <script src="js/jquery.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="js/bootstrap.min.js"></script>

            <!-- Plugin JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

            <!-- Contact Form JavaScript -->
            <!--    <script src="js/jqBootstrapValidation.js"></script> -->

            <!-- Theme JavaScript -->
            <script src="js/agency.js"></script>

        </body>
        </html>