<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Jonesautomotive</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">

    <!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script> -->
    <!-- API Key -->
    <!-- AIzaSyCPWfZXnVdPVsicxeXS34HBxozYptedzfg -->
    <!-- AIzaSyDbp8qLq5y288_3yYfsxmeDcS8xONTsLfI -->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <span class="navbar-brand">Jonesautomotive</span>
    </nav>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Menu -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Items -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="images/25.jpg" alt="Slide 1" />
            </div>
            <div class="item">
                <img src="images/25.jpg" alt="Slide 2" />
            </div>
            <div class="item">
                <img src="images/25.jpg" alt="Slide 3" />
            </div>
        </div> 

        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">For all your mechanical repairs! <span class="text-muted">Jonesutomotive does it all.</span></h2>
          <p class="lead">From oil changes to cambelts, punctures to wheel alignments, full services to warrants of fitness, trucks to trailers, Jonesautomotive can do it. </p>
      </div>
      <div class="col-md-5">
          <div id="map"></div>
          <script>
              function initMap() {
                var myLatLng = {lat: -41.2229943, lng: 174.87398310000003};

                var map = new google.maps.Map(document.getElementById('map'), {
                  center: myLatLng,
                  zoom: 15
              });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Jones Automotive'
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbp8qLq5y288_3yYfsxmeDcS8xONTsLfI&callback=initMap"
        async defer></script>
    </div>
</div>
<hr class="row featurette">
<div id="container">
    <div></div>
    Node.JS Email application
    <div>
        <h1>Mailer In Node.JS</h1>
        <input id="to" type="text" placeholder="Enter E-mail ID where you want to send" />
        <input id="subject" type="text" placeholder="Write Subject" />
        <textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
        <button id="send_email">Send Email</button>
        <span id="message"></span>
    </div>
    <script>
$(document).ready(function(){
    var from,to,subject,text;
    $("#send_email").click(function(){      
        to=$("#to").val();
        subject=$("#subject").val();
        text=$("#content").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("https://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
        if(data=="sent")
        {
            $("#message").empty().html("Email is been sent at "+to+" . Please check inbox !");
        }

});
    });
});
</script>
</div>




</body>
</html>